.tituloNav {
  margin-left: 15px;
}

.btnCadastrar {
  background-color: #553199 !important;
  /* border: none; */
}
.btnNCat {
  background-color: #553199 !important;
  /* border: none; */
}
.btnEdit{
  background-color: #e2a22b !important;
}

